.example-component-wrapper {
   .flex-section {
      padding-bottom: 6px;
      padding-top: 6px;
   }
   .flex-section .item {
      padding: 10px;
   }

   .json-viewer__body {
      font-size: 12.5px;
      .fetching-now {
         color: rgb(38, 139, 210);
      }
      > ul {
         background: unset !important;
      }
   }
}
